@font-face {
  font-family: 'Norse';
  src:
    url(./fonts/Norse-Bold.woff2) format('woff2'),
    url(./fonts/Norse-Bold.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: sans-serif;
}

/* left section */
#left-container {
  min-height: 100%;
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

#left-inner-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title-container {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 92%;
  width: auto;
}

h1 {
  font-family: 'Norse', Arial, sans-serif;
  font-size: 6rem;
  color: #ffffff;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

small {
  color: #ffffff;
  text-transform: capitalize;
}

small a {
  color: #ffffff;
}

/* right section */
#right-container {
  min-height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
}

#upper-right-container {
  height: 36%;
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
}

#paragraph-container {
  max-width: 80%;
  padding-left: 32px;
}

#paragraph-container p {
  font-size: 1.5rem;
  font-weight: 600;
}

#paragraph-container p:last-of-type {
  margin-top: 32px;
}

#middle-right-container {
  height: 36%;
  z-index: 99;
  box-shadow: 0px 6px 10px -3px #767676;
}

#bottom-right-container {
  height: 28%;
  background-color: #fafbfc;
}

/* form style */
form {
  padding: 32px;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 28px;
}

#input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

#input-container div {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 250px;
  height: 32px;
}

input:focus {
  box-shadow: 0px 0px 4px 0px #939496;
  outline: none;
  border: 2px solid #5e84d1;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-weight: 500;
}

/* bottom right style */

#bottom-right-container {
  padding-top: 2rem;
  padding-left: 2rem;
}

button {
  height: 40px;
  width: 200px;
  background-color: #596d48;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #7ba677;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px #939496;
}

p > a {
  color: #596d48;
  font-weight: bold;
  text-decoration: none;
}

#password:invalid,
#confirm-password:invalid {
  border: 2px solid #ff0000;
}
